version: "3"

services:
  api:
    build:
      context: ./backend
      dockerfile: api.Dockerfile
    volumes:
      - ./backend/:/backend
    environment:
      FLASK_ENV: development
    ports:
      - "5000:5000"
    depends_on:
      - db
      - redis
    restart: always

  ui:
    build:
      context: ./frontend
      dockerfile: ../ui.Dockerfile
    volumes:
      - ./frontend:/frontend
      #- '/frontend/node_modules:/app/node_modules'
    ports:
      - "8080:8080"
    depends_on:
      - api

  # game:
  #   build:
  #     context: ./gameplay
  #     dockerfile: ../gameplay.Dockerfile
  #   volumes:
  #     - ./gameplay:/gameplay
  #   depends_on:
  #     - mq
  #   restart: always

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"

  # mq:
  #   image: bitnami/rabbitmq:latest
  #   ports:
  #     - "4369:4369"
  #     - "5672:5672"
  #     - "25672:25672"
  #     - "15672:15672"
  #   environment:
  #     - RABBITMQ_PASSWORD=password

  redis:
    image: redis
    ports:
      - "6379:6379"

  flower:
    image: mher/flower
    ports:
      - "5555:5555"
